<!DOCTYPE html>
<html>
	<head>
		<!-- Standard Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- Site Properties -->
		<title>Nattie - Deduction Powered Program Synthesis</title>
		<!-- style component -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
		<script src="{{ url_for('static', filename='benchmarks.js') }}"></script>
		<style type="text/css">
			.main {
				margin-top: 80px;
				margin-bottom: 80px;
			}
			.ProblemCard {
			}
			.TableCell {
				font-size: 12px;
			}
			textarea {
				min-height: 50px;
				resize: none; /*useless due to semantic ui*/
				overflow: hidden;
				width: 100%;
				border: none; /*useless due to semantic ui*/
			}
			.wtHider {
				margin: auto; /*make the table centered*/
			}
		</style>
		<!-- table component -->
		<script src="https://cdn.jsdelivr.net/npm/handsontable@8.0.0/dist/handsontable.full.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/handsontable@8.0.0/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<!-- start: top menu -->
		<div class="ui top fixed inverted menu">
			<div class="ui container">
				<div class="header item">
					<img class="logo" src="{{ url_for('static', filename='icon.png') }}">
					Trinity | Data Wrangling
				</div>
				<div class="right menu">
					<a href="#" class="item"><i class="chalkboard teacher icon"></i>Tutorial</a>
					<a href="#" class="item"><i class="book open icon"></i>Documentation</a>
				</div>
			</div>
		</div>
		<!-- end: top menu -->
		<!-- start: main container -->
		<div class="ui main text container">

			<!-- start: problem card -->
			<div class="ui fitted center aligned blue segment ProblemCard">
				<!-- start: status bar -->
				<div class="ui bottom attached blue label">
					<!-- padding bar, will not show -->
					<div class="ui mini active inline loader" style="opacity: 0;"></div>
				</div>
				<div class="ui bottom left attached blue label">
					<div class="ui tiny inline bottom left pointing dropdown">
						<i class="tasks icon"></i>
						<div class="menu">
							<div class="item">New Problem</div>
							<div class="item">Upload...</div>
							<div class="item MenuLoadBenchmark">Morpheus1</div>
							<div class="item MenuLoadBenchmark">Morpheus2</div>
							<div class="item MenuLoadBenchmark">Morpheus3</div>
						</div>
					</div>
					<span id="DivBenchmarkName">New Problem</span> <i class="edit icon"></i>
					|&nbsp;&nbsp;
					<div class="ui tiny inline bottom right pointing dropdown">
						<div class="text">Neo</div><i class="caret up icon"></i>
						<div class="menu">
							<div class="item">None</div>
							<div class="item">Neo</div>
							<div class="item">Mars</div>
						</div>
					</div>
					|&nbsp;&nbsp;
					<div class="ui tiny inline bottom right pointing dropdown">
						<div class="text">Size 3</div><i class="caret up icon"></i>
						<div class="menu">
							<div class="item">Size 3</div>
							<div class="item">Size 4</div>
							<div class="item">Size 5</div>
						</div>
					</div>
					|&nbsp;&nbsp;
					<div class="ui tiny inline bottom right pointing dropdown">
						<div class="text">1 Input</div><i class="caret up icon"></i>
						<div class="menu">
							<div class="item">1 Input</div>
							<div class="item">2 Inputs</div>
						</div>
					</div>
				</div>
				<div class="ui bottom right attached blue label" id="DivStatus">
						Status: Ready
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Synthesize<!-- this will not show -->
				</div>
				<div class="ui bottom right attached yellow label">
					<!-- padding bar, will not show -->
					<div class="ui mini active inline loader" style="opacity: 0;"></div>
				</div>
				<a class="ui bottom right attached yellow label" id="BtnSynthesize">
						Synthesize
				</a>
				<!-- end: status bar -->
				<!-- start: table zone -->
				<div class="ui fitted horizontal basic segments">
					<div class="ui center aligned segment" style="width:50%;">
						<div class="ui top left attached label">Input Table</div>
						<div id="DivInput0"></div>
					</div>
					<div class="ui center aligned segment" style="width:50%;">
						<div class="ui top right attached label">Output Table</div>
						<div id="DivOutput"></div>
					</div>
				</div>
				<!-- end: table zone -->
				<div class="ui divider"></div>
				<!-- start: natural language zone -->
				<div class="ui left icon input" style="width: 100%">
					<input id="DivTitle" type="text" placeholder="Title: a piece of short text of what you want." style="border: none;">
					<i class="quote left icon"></i>
				</div>
				<div class="ui left icon input" style="width: 100%;">
					<textarea id="DivQuestion" placeholder="Question: a description of what you want." oninput="auto_grow(this)" style="border: none; resize: none;"></textarea>
					<i class="comment outline icon"></i>
				</div>
				<!-- end: natural language zone -->
				<div class="ui divider"></div>
				<!-- start: solution zone -->
				<div class="ui fitted horizontal basic segments">
					<div class="ui left aligned segment" style="width:50%;">
						<div class="ui top left attached label">Solution</div>
<pre><code>out0 = gather(input0, [-99, -5])
out1 = separate(out0, 2)
out2 = spread(out1, 2, 4)
out3 = mutate(out2, 3, /, 4)
out4 = select(out3, [-1])
output = out4</code></pre>
					</div>
					<div class="ui left aligned segment" style="width:50%;">
						<div class="ui top right attached label">Statistics</div>
						<br/>
						Concrete programs=: 25571<br/>
						Partial programs=: 20057<br/>
						Prune partial=:18506 %=:92.26703893902378<br/>
						Prune concrete=:21029 %=:82.23769113448829<br/>
						Total time: 32 seconds<br/>
					</div>
				</div>
				<!-- end: solution zone -->
			</div>
			<!-- end: problem card -->

			<div class="ui mini black message" id="DivUsage">CPU: ... | Memory: ... | Synthesis Tasks Running: ...</div>
			<br/>
			<br/>
			<br/>

		</div>
		<!-- end: main container -->
		<!-- start: footer menu -->
		<div class="ui bottom fixed inverted menu">
			<div class="ui center aligned inverted text menu">
				<a class="item" href="#"><i class="atom icon"></i>PLSE@UCSB</a>
				<a class="item" href="#">|</a>
				<a class="item" href="#"><i class="github icon"></i>Trinity</a>
				<a class="item" href="#">|</a>
				<a class="item" href="#"><i class="bug icon"></i>Bug Report</a>
			</div>
		</div>
		<!-- end: footer menu -->
	</body>
<script type="text/javascript">
	// global variables
	current_configuration = {
		"app": "/synthesize",
		"obj_input0": null,
		"obj_input1": null,
		"obj_output": null,

		"input0": [["","",""],["","",""],["","",""]],
		"input1": null,
		"output": [["","",""],["","",""],["","",""]],
		"size": 3,
		"enumerator": "ngram",
		"spec": "morpheus",
		"title": "",
		"question": ""
	};

	// ================================= //
	// ==== table component related ==== //
	// ================================= //
	function auto_grow(element) {
		element.style.height = "5px";
		element.style.height = (element.scrollHeight)+"px";
	}
	function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
		Handsontable.renderers.TextRenderer.apply(this, arguments);
		td.style.fontWeight = 'bold';
		td.style.color = 'white';
		td.style.background = '#2185d0';
	}
	// load and set a table
	function RenderDivTable(arg_div, arg_table, arg_role) {
		// first clear the div
		arg_div.innerHTML = "";
		// then load the data
		var ret_table = new Handsontable(arg_div, {
			data: arg_table,
			preventOverflow: 'horizontal',
			rowHeaders: false,
			colHeaders: false,
			filters: false,
			dropdownMenu: true,
			contextMenu: true,
			editor: 'text',
			className: "TableCell",
			licenseKey: "non-commercial-and-evaluation",
			cells: function (row, col) {
				var cellProperties = {};
				var data = this.instance.getData();
				if (row === 0) {
					cellProperties.renderer = firstRowRenderer; // uses function directly
				}
				return cellProperties;
			}
		});
		current_configuration[arg_role] = ret_table;
	}
	// ================================= //

	// ========================= //
	// ==== initializations ==== //
	// ========================= //
	// initialize dropdowns
	$('.ui.dropdown').dropdown();
	// initialize empty table
	RenderDivTable($("#DivInput0")[0], current_configuration["input0"], "obj_input0");
	RenderDivTable($("#DivOutput")[0], current_configuration["output"], "obj_output");
	// ========================= //

	// ================================== //
	// ==== events and registrations ==== //
	// ================================== //
	$('.MenuLoadBenchmark').click(function(){
		// get benchmark name
		var selected_benchmark = $(this).text();
		// render preset benchmark tables
		RenderDivTable($("#DivInput0")[0], benchmarks[selected_benchmark]["input0"], "obj_input0");
		RenderDivTable($("#DivOutput")[0], benchmarks[selected_benchmark]["output"], "obj_output");
		current_configuration["obj_input1"] = null; // (fixme)
		// set benchmark name
		$("#DivBenchmarkName").html(selected_benchmark);
		// set natural language zone
		$("#DivTitle").val(benchmarks[selected_benchmark]["title"]);
		$("#DivQuestion").val(benchmarks[selected_benchmark]["question"]);
		auto_grow($("#DivQuestion")[0]);
		// update global information
		current_configuration["input0"] = benchmarks[selected_benchmark]["input0"];
		current_configuration["input1"] = benchmarks[selected_benchmark]["input1"];
		current_configuration["output"] = benchmarks[selected_benchmark]["output"];
		current_configuration["title"] = benchmarks[selected_benchmark]["title"];
		current_configuration["question"] = benchmarks[selected_benchmark]["question"];
		current_configuration["size"] = benchmarks[selected_benchmark]["size"];
		current_configuration["spec"] = benchmarks[selected_benchmark]["spec"];
		current_configuration["enumerator"] = benchmarks[selected_benchmark]["enumerator"];
		// (fixme) need to sync other ui texts
	});

	// this stores the preset of all status texts
	var Text_DivStatus = {
		"Synthesizing": 'Status: Synthesizing <div class="ui mini active inline loader"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Synthesize',
		"Solved": 'Status: Solved <i class="check icon"></i>&nbsp;&nbsp;Synthesize',
		"Failed": 'Status: Failed <i class="exclamation icon"></i>&nbsp;&nbsp;Synthesize'
	};
	// register click event for the "Synthesize" button
	$("#BtnSynthesize").click(function(){
		$("#DivStatus").html(Text_DivStatus["Synthesizing"]);
		$.ajax({
			url: current_configuration["app"],
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify({
				"size": current_configuration["size"],
				"enumerator": current_configuration["enumerator"],
				"spec": current_configuration["spec"],
				"input0": current_configuration["input0"],
				"input1": current_configuration["input1"],
				"output": current_configuration["output"]
			}),
			dataType: "json"
		})
		.done(function(data){
			alert("received:"+JSON.stringify(data));
			$("#DivStatus").html(Text_DivStatus["Solved"]);
		})
		.fail(function(){
			alert("fail!");
			$("#DivStatus").html(Text_DivStatus["Failed"]);
		});
	});

	// this queries the server resource status
	$("#DivUsage").click(function(){
		$.ajax({
			url: "/usage",
			type: "GET",
			dataType: "json",
			timeout: 5000,
		})
		.done(function(data){
			$("#DivUsage").text("CPU: "+data["cpu"]+" | Memory: "+data["memory"]);
		})
		.fail(function(){
			$("#DivUsage").text("CPU: ... | Memory: ...");
		});
	})
	// ================================== //

</script>
</html>